h1 {
  font-size: xx-large;
}

h2 {
  font-size: large;
}

img {
  height: 200px;
}

.playerInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

button{
  text-decoration: underline;
}