<div class="topBar">
  <ul class="topBarList">
    <li class="topBarElement topBarTitle hover">
      <a href="/home">HOCKEY WATCH</a>
    </li>
    <li class="topBarElement hover"><a href="/home">HOME</a></li>
    <li class="topBarElement hover"><a href="/team-list">TEAMS</a></li>
    <li class="topBarElement hover"><a href="/players">PLAYERS</a></li>
    <!-- access localStorage and get displayname -->
    <li class="topBarElement">
      <a href="/users">{{
        authService.currentUserSignal()?.username?.toUpperCase() || ""
      }}</a>
    </li>
    <li class="topBarElement hover">
      <a href="/" (click)="logout()">LOGOUT</a>
    </li>
  </ul>
</div>
