.topBar {
  background-color: black;
  height: 70px;
  width: 100%;
}

.topBarList {
  display: flex;
  justify-content: flex-end;
}

.topBarTitle {
  margin-right: auto;
}

.topBarElement {
  display: inline-block;
  font-family: NHL;
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 20px;
  color: white;
}
