.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
}

.error-message {
  color: red;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 5px;
}

.form-container {
  font-family: NHL;
  display: flex;
  flex-direction: column; /* Stack the elements vertically */
  align-items: center; /* Center align the content */
  animation: fadeInMove 0.75s forwards; /* Apply animation */
}

.form-group {
  display: flex;
  flex-direction: column; /* Stack label and input vertically */
  margin-bottom: 1rem; /* Add spacing between form groups */
}

h2 {
  margin-bottom: 1.5rem; /* Add spacing below the header */
}

body {
  background-color: black;
  color: white;
}

input {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  color: white;
  border: 0px;
  border-bottom: 1px solid white;
}

html,
body {
  padding: 0;
  margin: 0;
}

@keyframes fadeInMove {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
