.center{
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  align-content: center;
}

.skater{
  text-align: center;
}

.chatBox{
  overflow-y: scroll; 
  height:400px;
}
