<div class="center" *ngIf="team">
  <img
    [src]="
      'https://assets.nhle.com/logos/nhl/svg/' + team.shortName + '_light.svg'
    "
    width="200"
    height="200"
  />
  <h1>{{ team.name }} - {{ team.shortName }}</h1>
  <h2>{{ team.arena }}</h2>
  <button class="admin" *ngIf="authenticationService.isCaster()" (click)="editTeam()">Edit team</button>
</div>
<div class="skater" *ngFor="let skater of team.skaters">
  <button class="hover" (click)="goToPlayer(skater.id)">
    #{{ skater.number }} - {{ skater.fullName }} - {{ skater.role }}
  </button>
</div>
<h1>{{ team.name }} Fanchat:</h1>
<div class="center">
  <form (ngSubmit)="onSubmit()">
    <input
      id="message"
      [formControl]="message"
      placeholder="Type your message here"
    />
    <button type="submit">Send</button>
  </form>
  <div class="chatBox" id="chatBox">
    <div class="left" *ngFor="let msg of messages.reverse()">
      {{ msg }}
    </div>
  </div>
</div>
