.center {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  align-content: center;
}

.left {
  text-align: left;
}

.skater {
  text-align: center;
}

.chatBox {
  overflow-y: scroll;
  height: 400px;
  width: 400px;
}

h1 {
  margin-top: 20px;
  font-size: xx-large;
  text-align: center;
}

.admin{
  text-decoration: underline;
}
