.dashboard {
  background-color: white;
  text-align: center;
}

.logos {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.matches {
  text-align: center;
  margin-bottom: 5rem;
}

h1 {
  font-size: xx-large;
}
