@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'NHL';
    src: url('../src/assets/fonts/NHL.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
