@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "NHL";
  src: url("../src/assets/fonts/NHL.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.hover {
  transition: transform 0.3s;
}

.hover:hover {
  transform: scale(1.1);
}

.center {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  align-content: center;
}
